@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply max-w-[80rem] p-6 w-full mx-auto;
}

@layer components{

    /* -----------BLOG----------- */
    .blog{
      @apply bg-primary pb-[2rem] pt-[2rem];
    }
    .blog__title p{
      @apply pb-[2rem] lg:max-w-[50rem];
    }
    .blog__title h4{
      @apply lg:text-[1.2rem];
    }
    .blog__title h2{
      @apply lg:text-[2.7rem];
    }
    .blog__card{
      @apply bg-lgrey pb-[1.5rem] lg:w-[25rem] md:w-[20rem] md:mb-[1rem];
    }
    .blog__card img{
      @apply rounded-md lg:w-full md:w-[20rem];
    }
    .blog__card ul p{
      @apply font-outfitsemibold text-[1rem];
    }
    .blog__card ul span{
      @apply pr-[.5rem] text-secondary;
    }
    .blog__card ul{
      @apply flex flex-row gap-14 py-[1rem] justify-center lg:gap-10 md:gap-3;
    }
    .blog__card .card__text{
      @apply px-[1.1rem];
    }
    .blog__card .card__btn a{
      @apply text-secondary font-bold;
    }
    .card__text h3{
      @apply text-[1.4rem] font-bold leading-10 text-vdark pb-[1rem];
    }
    .card__text p{
      @apply leading-8 pb-[1rem];
    }
    .blog__card .card__btn{
      @apply px-[1.1rem];
    }
    .card__wrapper{
      @apply grid grid-cols-1 gap-[1.5rem] lg:grid lg:grid-cols-3 lg:gap-[1.3rem] md:grid md:grid-cols-2 md:gap-[.1rem];
    }
    .blog__btn{
      @apply flex flex-row gap-3 justify-center;
    }
    .blog__btn li a{
      @apply bg-lgrey rounded-full py-[.3rem] px-[.7rem] font-normal hover:bg-secondary;
    }
    .blog__btn li:first-child a{
      @apply bg-secondary;
    }

    /* -----------CONTACT----------- */
    .contact{
      @apply bg-primary pb-[2rem] pt-[2rem];
    }
    .contact__title p{
      @apply pb-[2rem];
    }
    .contact__left h3{
      @apply pb-[1rem] font-bold lg:text-[1.5rem];
    }
    .contact__left p{
      @apply font-bold pb-[1rem] text-[1.2rem];
    }
    .contact__left i{
      @apply text-secondary text-[1.7rem];
    }
    .contact__left ul{
      @apply pl-[1rem];
    }
    .contact__left ul li{
      @apply py-[1rem]
    }
    .contact__form ul li input{
      @apply bg-lgrey w-[28rem] pl-[1rem] py-[1rem] mb-[1rem] lg:w-[20rem];
    }
    .contact__form ul li input::placeholder{
      @apply text-[1rem] text-[#747778] font-semibold;
    }
    .contact__form ul input{
      @apply bg-lgrey w-[28rem] pl-[1rem] py-[1rem] mb-[1rem] lg:w-[41rem];
    }
    .contact__form ul input::placeholder{
      @apply text-[1rem] text-[#747778] font-semibold;
    }
    .contact__form ul textarea{
      @apply bg-lgrey w-[28rem] pl-[1rem] py-[1rem] mb-[1rem] lg:w-[41rem];
    }
    .contact__form ul textarea::placeholder{
      @apply text-[#747778] font-semibold;
    }
    .contact__wrapper{
      @apply grid grid-cols-1 lg:grid lg:grid-cols-2;
    }
    .contact__form ul:first-child{
      @apply grid grid-cols-1 lg:grid lg:grid-cols-2 lg:gap-[3.5rem];
    }



    /* -----------MAP----------- */
    .map{
      @apply bg-primary pb-[2rem] pt-[2rem];
    }
    .map iframe{
      @apply w-[28rem] h-[25rem] lg:w-[80rem];
    }



 /* ---------SERVICES----------- */
 .faq{
  @apply bg-primary 
 }
.faq__wrapper{
  @apply flex flex-col lg:grid grid-cols-2 
}
.faq__title{
  @apply w-[60%]
}
.faq__question{
  @apply top-[5rem] relative p-3 
}
.faq__cards{
  @apply bg-lgrey mb-5 p-[1.5rem]
}
.faq__cards h5 i.open{
  @apply  transform rotate-180 w-fit h-fit transition-all 
}
.faq__cards .contents{
  @apply max-h-[0rem] overflow-hidden transition-all 
  flex flex-col gap-6 
}
.faq__cards .contents.open{
  @apply max-h-[50rem] transition-all pt-6 

}


}



/* ------------------FONTS---------------- */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@layer base {
    @font-face {
      font-family: 'OutfitBold',sans-serif;
      font-style: normal;
      font-display: swap;
      src: url("../fonts/Outfit-ExtraBold.ttf");
    }
    @font-face {
      font-family: 'OutfitRegular',sans-serif;
      src: url("../fonts/Outfit-Regulard.ttf") ;
    }
    @font-face {
      font-family: 'OutfitSemibold',sans-serif;
      src: url("../fonts/Outfit-SemiBold.ttf") ;
    }
    h1 {
        @apply text-4xl font-outfitbold;
      }
      h2 {
        @apply text-[2.7rem] font-outfitbold text-clrtitle font-[790]
      }
      h3 {
        @apply text-xl ;
      }
      h4{
        @apply text-[1.2rem] font-outfitbold text-secondary font-[790]
      }
      h5{
        @apply text-[1.3rem] font-outfitbold font-semibold text-crdtitle
      }
      h6{
        @apply text-[.8rem]
      }
      p{
        @apply text-[1rem] font-outfitsemibold text-clrtext 
      }
      a {
        @apply text-[1rem] font-semibold text-center;
      }

      
  }

  @layer utilities{
    /* ------------------BUTTONS---------------- */
    .btn{
      @apply inline-block py-[.5rem] px-[1.3rem] rounded-full border-transparent border-[1.5px]
      text-[1.1rem] font-bold;
    }
    .btn.bg--secondary{
      @apply bg-secondary text-primary hover:bg-lgrey hover:text-vdark;
    }
  }