@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply max-w-[80rem] lg:px-6 lg:py-0 p-6 first-letter:w-full mx-auto;
    /* added lg:px-6 lg:py-0 */
}
/* ---------------------------------HOME PAGE START---------------------- */
.homebanner .homebanner__wrapper
{
  @apply grid grid-cols-1 place-items-center
}
.homebanner .homebanner__img
{
  @apply lg:pt-[10rem] 
}
.homebanner .homebanner__text p
{
  @apply text-[1.2rem] leading-[2.5rem] pt-[1rem] pb-[1rem]
}
#particles-js
{
  @apply h-[100%] bg-[#f7f5f2]
}


/* ---------------------------------HOME PAGE END---------------------- */

@layer components
{
/* ---------------------------------HOME PAGE HEADER START---------------------- */
.header
{
  @apply bg-primary
}
.header img
{
  @apply w-[10rem] lg:w-[10rem];
}
.header__navd
{
  @apply hidden md:flex gap-5 ;
}
.header__navd li a 
{
  @apply text-[1rem] text-vdark font-bold
}
.header__action
{
  @apply absolute top-0 left-0 w-[0] h-[49vh]
  px-0 pt-0 overflow-hidden transition-all shadow-md
  bg-primary;
}
.header__action.open
{
  @apply w-[100%]  pt-[1rem] px-[1rem] mt-[4.7rem] transition-all
        
}
.header__wrapper
{
   @apply lg:flex lg:justify-around
}

.header__action
{
  @apply lg:flex lg:flex-col
}

.header__action .header__navm
{
  @apply flex flex-col gap-5 bg-primary lg:hidden;
}

/* drop down start */
.header__action .header__navm li:nth-child(4)
{
  @apply relative inline-block
}
.header__action .header__navm .dropbtn
{
  @apply bg-primary
 border-none
  cursor-pointer
}
.dropdown-content 
{
  @apply hidden absolute bg-primary overflow-auto z-[1] w-[100%]
  border-vdark border-[1px] rounded-md pb-[.3rem]
}
.dropdown-content a
{
  @apply text-vdark py-[12px] px-[16px] no-underline block text-left
  
}

.showdrpdwn
{
  @apply block
}
/* drop down end */

.header__action .header__navm li:hover a
{
  @apply text-vdark;
}
.header__action .header__navm li a
{
  @apply font-medium text-[1.3rem] text-vdark 
  ease-in-out duration-100 delay-150
 opacity-100 hover:py-[.5rem] hover:text-secondary
  hover:delay-300 hover:bg-opacity-25;
}
.header__action__wrapper
{
  @apply pb-10 flex  flex-col gap-5  bg-primary
}
.header__action__btn button:first-child
{
  @apply text-[1.3rem]
}
.header__action__btn button
{
  @apply m-1
}
.header__action__btn button:nth-child(2)
{
  @apply border-secondary border-[.1rem]
  py-[.8rem] px-[1rem] rounded-full
}
.header__action__btn button:nth-child(2) i
{
  @apply text-[1.3rem]
}

.burger__menu
{
   @apply lg:hidden;
}
.burger__menu span
{
   @apply w-[1.5rem]  h-[.2rem]
 bg-vdark block rounded-full transition-all;
}
.burger__menu span:nth-child(2)
{
    @apply my-1 
}
.burger__menu span:focus
{
  @apply border-vdark border-[.5rem]
}
.header__wrapper
{
  @apply flex items-center justify-between 
}



/* ---------------------------------HOME PAGE HEADER END---------------------- */



/* ---------------------------------BLOG PAGE---------------------- */
    .blog{
      @apply bg-primary pb-[2rem] pt-[2rem];
    }
    .blog__title p{
      @apply pb-[2rem] lg:max-w-[50rem];
    }
    .blog__title h4{
      @apply lg:text-[1.2rem];
    }
    .blog__title h2{
      @apply lg:text-[2.7rem];
    }
    .blog__card{
      @apply bg-lgrey pb-[1.5rem] lg:w-[25rem] md:w-[20rem] md:mb-[1rem];
    }
    .blog__card img{
      @apply rounded-md lg:w-full md:w-[20rem];
    }
    .blog__card ul p{
      @apply font-outfitsemibold text-[1rem];
    }
    .blog__card ul span{
      @apply pr-[.5rem] text-secondary;
    }
    .blog__card ul{
      @apply flex flex-row gap-14 py-[1rem] justify-center lg:gap-10 md:gap-3;
    }
    .blog__card .card__text{
      @apply px-[1.1rem];
    }
    .blog__card .card__btn a{
      @apply text-secondary font-bold;
    }
    .card__text h3{
      @apply text-[1.4rem] font-bold leading-10 text-vdark pb-[1rem];
    }
    .card__text p{
      @apply leading-8 pb-[1rem];
    }
    .blog__card .card__btn{
      @apply px-[1.1rem];
    }
    .card__wrapper{
      @apply grid grid-cols-1 gap-[1.5rem] lg:grid lg:grid-cols-3 lg:gap-[1.3rem] md:grid md:grid-cols-2 md:gap-[.1rem];
    }
    .blog__btn{
      @apply flex flex-row gap-3 justify-center;
    }
    .blog__btn li a{
      @apply bg-lgrey rounded-full py-[.3rem] px-[.7rem] font-normal hover:bg-secondary;
    }
    .blog__btn li:first-child a{
      @apply bg-secondary;
    }

    /* -----------CONTACT----------- */
    .contact{
      @apply bg-primary pb-[2rem] pt-[2rem];
    }
    .contact__title p{
      @apply pb-[2rem];
    }
    .contact__left h3{
      @apply pb-[1rem] font-bold lg:text-[1.5rem];
    }
    .contact__left p{
      @apply font-bold pb-[1rem] text-[1.2rem];
    }
    .contact__left i{
      @apply text-secondary text-[1.7rem];
    }
    .contact__left ul{
      @apply pl-[1rem];
    }
    .contact__left ul li{
      @apply py-[1rem]
    }
    .contact__form ul li input{
      @apply bg-lgrey w-[28rem] pl-[1rem] py-[1rem] mb-[1rem] lg:w-[20rem];
    }
    .contact__form ul li input::placeholder{
      @apply text-[1rem] text-[#747778] font-semibold;
    }
    .contact__form ul input{
      @apply bg-lgrey w-[28rem] pl-[1rem] py-[1rem] mb-[1rem] lg:w-[41rem];
    }
    .contact__form ul input::placeholder{
      @apply text-[1rem] text-[#747778] font-semibold;
    }
    .contact__form ul textarea{
      @apply bg-lgrey w-[28rem] pl-[1rem] py-[1rem] mb-[1rem] lg:w-[41rem];
    }
    .contact__form ul textarea::placeholder{
      @apply text-[#747778] font-semibold;
    }
    .contact__wrapper{
      @apply grid grid-cols-1 lg:grid lg:grid-cols-2;
    }
    .contact__form ul:first-child{
      @apply grid grid-cols-1 lg:grid lg:grid-cols-2 lg:gap-[3.5rem];
    }



    /* -----------MAP----------- */
    .map{
      @apply bg-primary pb-[2rem] pt-[2rem];
    }
    .map iframe{
      @apply w-[28rem] h-[25rem] lg:w-[80rem];
    }

    
/* -----------------------------------------SERVICES PAGE----------------------------------- */
/* ----------BANNER------------- */
.banner{
  @apply bg-bgfooter text-white
}
.bannernav a{
  @apply text-white
}
.bannernav a:first-child{
  @apply hover:text-secondary
}

/* ---------SERVICES CARDS------- */
.services{
  @apply py-[2rem]
}
.services__wrapper{
  @apply md:grid md:grid-cols-2 lg:grid lg:grid-cols-3 gap-6 
}
.services__title{
  @apply lg:w-[50%] pb-4
}
.services__card{
  @apply bg-lgrey mb-6 lg:mb-0 p-[2rem] relative z-[1] 
}
.services__card::before{
  @apply content-[""] absolute top-0 left-0 h-[100%] w-0 bg-secondary z-[-1]
  transition-all rounded-md duration-500
}
.services__card:hover::before{
  @apply w-[100%] 
}
.services__card:hover a, .services__card:hover h3, .services__card:hover p, .services__card:hover i{
  @apply text-white
}
.services__card .icon{
  @apply text-[3rem] text-secondary pt-3 pb-3
}
.services__card h3{
  @apply text-bgfooter 
}
.services__card a{
  @apply text-secondary
}
.services__card p{
  @apply mb-[1rem]
}

 /* ---------FAQ----------- */
 .faq{
  @apply bg-primary py-[2rem]
 }
.faq__wrapper{
  @apply flex flex-col lg:grid grid-cols-2 gap-3
}
.faq__title{
  @apply lg:w-[60%] pb-6
}
.faq__question{
  @apply top-[5rem] relative pb-[3rem]
}
.faq__cards{
  @apply bg-lgrey mb-5 p-[.8rem] w-full
}
.faq__cards h5{
  @apply grid grid-cols-[6fr,.5fr]
}
.faq__cards h5 i{
  @apply text-secondary items-end
}
.faq__cards h5 i.open{
  @apply  transform rotate-180 w-fit h-fit transition-all 
}
.faq__cards .contents{
  @apply max-h-[0rem] overflow-hidden transition-all 
  flex flex-col gap-6 
}
.faq__cards .contents.open{
  @apply max-h-[50rem] transition-all pt-6 

}

/* -------------FOOTER--------- */
.footer{
  @apply bg-bgfooter
}
.footer__wrapper{
  @apply md:grid md:grid-cols-2 lg:grid lg:grid-cols-4 gap-4 items-center pb-5
}
.footer h6, a{
  @apply text-footertxt
}
.footer h6{
  @apply pb-[1rem] pt-[1rem] lg:pt-0
}
.footer ul li{
  @apply pb-[1rem]
}
.footer a i{
  @apply text-[.8rem] pr-3
}
.socials{
  @apply bg-vdark rounded-sm p-7 
}
.socials p{
  @apply mb-2
}
.socials img{
  @apply w-[50%] pb-1
}
.media i{
  @apply text-white bg-secondary p-3 rounded-full mr-1 
}
.site{
  @apply  pt-[2rem] lg:p-0
}
.bottomFooter{
  @apply border-t-[.5px] border-lgrey md:grid md:grid-cols-[1fr,2fr] lg:grid lg:grid-cols-[2fr,1fr]
}
.bottomFooter p, .terms{
  @apply pt-2 pb-2 lg:pb-0 lg:pt-4
}
.bottomFooter .terms{
  @apply ml-[10rem] md:ml-[17rem] lg:ml-[12rem]
}
.bottomFooter .terms a:first-child{
  @apply border-r-[1px] border-lgrey pr-1
}



}



/* ------------------FONTS---------------- */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@layer base {
    @font-face {
      font-family: 'OutfitBold',sans-serif;
      font-style: normal;
      font-display: swap;
      src: url("../fonts/Outfit-ExtraBold.ttf");
    }
    @font-face {
      font-family: 'OutfitRegular',sans-serif;
      src: url("../fonts/Outfit-Regulard.ttf") ;
    }
    @font-face {
      font-family: 'OutfitSemibold',sans-serif;
      src: url("../fonts/Outfit-SemiBold.ttf") ;
    }
    h1 {
        @apply text-[3rem] font-outfitbold font-[790];
      }
      h2 {
        @apply text-[2.7rem] font-outfitbold text-clrtitle font-[790]
      }
      h3 {
        @apply text-[1.5rem] font-outfitsemibold font-[700];
      }
      h4{
        @apply text-[1.2rem] font-outfitbold text-secondary font-[790]
      }
      h5{
        @apply text-[1.3rem] font-outfitbold font-semibold text-crdtitle
      }
      h6{
        @apply text-[1.1rem] font-outfitregular font-[600]
      }
      p{
        @apply text-[.9rem] font-outfitbold text-clrtext leading-7
      }
      a {
        @apply text-[1rem] font-semibold text-center;
      }

      
  }

  @layer utilities{
    /* ------------------BUTTONS---------------- */
    .btn{
      @apply inline-block py-[.5rem] px-[1.3rem] rounded-full border-transparent border-[1.5px]
      text-[1.1rem] font-bold;
    }
    .btn.bg--secondary{
      @apply bg-secondary text-primary hover:bg-lgrey hover:text-vdark;
    }
  }